.div-box {
  border: 2px solid darkgray;
  border-radius: 10px;
  padding: 0 20px;
}

code {
  color: #c7254e;
  background-color: rgba(204,204,204,0.5)!important;
  padding: 2px 4px;
  border-radius:3px;
}

.cover-title {
  font-size: 2.5rem;
  margin: 2rem 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
  color: inherit;
  text-align:center;
}



.cover-body {
  padding:0 20px;
}
.small {
  font-size:80%;
  color:gray;
}

img.img-responsive {
  border: 2px solid #dadde3;
}

